*{
  margin: 0px;
  padding:0px;
}
body{
    background-color: #F6F4EB;
    padding:0px;
    margin:0px;
    font-family: 'League Spartan', sans-serif;
}
/* navbar styling */
#main-container{
    margin-top: 0px;
}
.navbar{
    /* background-color:rgb(245, 239, 239); */
    margin-top: 1%;
    /* background-color: #0081C9; */
    height:50px;
    display: flex;
    z-index: 1;
}
.menu{
    display: flex;
    gap: 40px;
  list-style: none;
  margin: 0%;
  margin-left: 25%;
  margin-top: 1.2%;

}
.nav-list{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    /* align-items:end; */
   
}
li a{
    position: relative;
    text-decoration: none;
    /* align-items:end; */
    color:  black;
}
li a::after{
    content: "";
    position:absolute;
    background-color:#0081C9;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}
li a:hover::after{
    width: 100%;
    /* background-color:; */
}
 .navbar h3{
    margin-top: 1.2%;
    margin-left: 10%;
    font-size: 2em;
    /* color: #0081C9; */
    /* text-shadow: 0px 0px 10px black; */
}
.home img {
  display: inline-block;
  height: 300px;
  border-radius: 30%;
  margin-left: 53%;
  margin-top: -12%;
  position: absolute;
  border: 2px solid #049ff3;
  box-shadow: 2px 2px 8px 8px rgba(4, 159, 243, 0.8); /* Corrected box-shadow value */
  transition: scaleY(-1.1);
  animation: moveVertical 3s linear infinite,FadeIn 4s;
}


@keyframes moveVertical {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(1.75%);
  }
  
  75%{
    transform: translateY(-1.75%);
  }
  100%{
    transform: translateY(0%);
  }
}


/* home container */
.home{
    justify-content: center;
    margin-top: 11%;
    margin-left:10%;
}
.home h2{
    color:black;
    font-size: 4em;
    font-family: 'League Spartan', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    margin-bottom: 0px;
    animation:FadeIn 4s;
}

span{
    margin-top:1%;
    color:black;
    font-size: 3.8em;
    font-weight: 300;
    font-family: 'League Spartan', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    margin-bottom: 0px;
    animation:FadeIn 4s;
}
@keyframes FadeIn{
    0%{
        opacity: 0%;
    }
    100%{
        opacity:100%;
    }
}
#home-h2{
    margin-top:1%;
    justify-content: center;
    color: #0081C9;
}
.type-container{
    display:flex;
    gap:1%;
}
.type-container .text{
    position: relative;
    /* color:#F6F4EB; */
}
.text{
  /* margin-top: 10%; */
}
 .first-text{
    color:#0081C9;
    font-weight:300;
    
}
 .second-text::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    /* color:#0081C9; */
    background-color:#F6F4EB;
    
    border-left: 3px solid #0081C9;
    color:#0081C9;
    /* animation:FadeIn 4s; */
    animation: animate 4s steps(12) infinite;
}
@keyframes animate {
    40%,60%{
        left:100%;
    }100%{
        left:0%;
    }
       
}

/* Button styling */
.btn {
    display: block;
    /* /* margin-left: 50%; */
    margin-top: 4%; 
    font-size: 2rem;
    border-radius: 12px;
    background-color:#0081C9;
    padding: 1%;
    color:white;
    border: #0081C9;
    animation: pulse 1.8s infinite,FadeIn 4s;
  }
  .btn:hover{
    background-color:#60f035;
    color:white;
    border: #60f035;
    animation: pulse1 1.8s infinite;
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 #0081C9;
    }
    55% {
      box-shadow: 0 0 0 20px transparent;
    }
    100% {
      box-shadow: 0 0 0 0 transparent;
    }
  }
  @keyframes pulse1 {
    0% {
      box-shadow: 0 0 0 0 #50dd25;
    }
    55% {
      box-shadow: 0 0 0 20px transparent;
    }
    100% {
      box-shadow: 0 0 0 0 transparent;
    }
  }
  a{
    text-decoration: none;
    gap: 20px;
  }
  /* About-container */
  #about-container h2{
    
    font-size: 2.5rem;
    text-align: center;
    margin-top: 10%;
    text-decoration: underline #0081C9;
  }
  #about-container p{
   animation: FadeIn 4s;
  }
  /* Style for the outer div */
.section-about{
 display: flex;
 border:3px 0px 3px solid #0081C9;
 height: 50%;
 width:100%;
}
#about-container p{
  font-size: 1.5rem;
  font-weight: 300;
  padding: 5%;
}
#about-container img{
  width:400px;
  height:400px;
  margin-left:5%;
}
/* Skills-container */
#skills-container{
  justify-content: center;
}
#skills-h2{
  margin-bottom: 6%;
}
.skills-section{
  display:grid;
  width:50%;
 grid-template-columns: 3fr 3fr 3fr;
 
  justify-content: center;
  margin-top: 6%;
  margin-left: 6%;
  margin: auto;
  gap:6%;
}
#skills-container h2{
  font-size: 2.5rem;
  text-align: center;
  margin-top: 10%;
  text-decoration: underline #0081C9;
}
.skills-section img{
  
height: 100px;
width:100px;

/* -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out; */
  transition: transform 0.3s;
}
.skills-section img:hover  {
	height: 110px;
  transform:  scale(1.3);
}
#logo-3{
  margin-left:-2%;
  height: 100px;
  width: 150px;
}
/* projects-container */
#projects-container{
  justify-content: center;;
}
.projects-sections{
  margin-top: 2%;
}
.projects{
  display: flex;
  padding: 5%;
  background-color: #0081C9;
  height:200px;
  width: 60%;
  /* border-radius:10px; */
  margin: auto;
  border-radius: 20px;
  /* border-top-right-radius: 20px; */
  background: rgb(96,88,223);
background: linear-gradient(144deg, rgba(96,88,223,1) 0%, rgba(0,170,210,1) 35%, rgba(96,88,223,1) 100%);
}
#projects-container h2{
  font-size: 2.5rem;
  text-align: center;
  margin-top: 10%;
  text-decoration: underline #0081C9;

}

.projects h3{
  font-size: 1.5rem;
  text-decoration: underline #0081C9;
  width: 100%;
  margin-left:5%;
  margin-top:-1%
}
.projects p{
  
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 4%;
  margin-left: -30%;
}
.projects img{
  height: 200px;
width:350px;
border-radius: 20px;
transition: transform 0.3s;
}
.projects img:hover  {
	/* height: 110px; */
  transform:  scale(1.1);
}
.button-container{
  display: flex;
  justify-content: center;
  height:80px;
  width: 70%;
  /* background-color: 	#232b2b; */
  gap: 2%;
  margin: auto;
}

a .btn1{
  display: block;
    /* /* margin-left: 50%; */
    margin-top: 2%; 
    gap:2%;
    margin-right:2%;
    font-size: 1.3rem;
    border-radius: 12px;
    background-color:#50dd25;
    padding: 1%;
    width: 100%;
    justify-content: center;
    text-wrap:none;
    margin-bottom:2%;
    color:white;
    border: #50dd25;
    animation: pulse1 1.8s infinite;
margin: auto;
}
.btn1:hover{
  background-color:#39ec02;
  border: #39ec02;
  cursor:pointer;
}
.btn2{
  display: block;
    /* /* margin-left: 50%; */
    margin-top: 2%; 
    gap:2%;
    margin-right:2%;
    font-size: 1.3rem;
    border-radius: 12px;
    background-color:#0081C9;
    padding: 1%;
    margin-bottom:2%;
    color:white;
    border: #0081C9;
    animation: pulse 1.8s infinite;
}
.btn2:hover{
  background-color:#049ff3;
  border: #049ff3;
  cursor:pointer;
}
.button-container a{
 margin-top: 1%;
}
.class2{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.class3{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Contacts-container */
#contacts-container h3{
  font-size: 2.5rem;
  text-align: center;
  margin-top: 10%;
  text-decoration: underline #0081C9;
  justify-content: center;
}
.form-container{
  justify-content: center;
  text-align: center;
  margin-top: 4%;
}
.form {
  position: relative;
  display: flex;
  align-items:center;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  border: 2px solid #049ff3;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.form .title {
  color: royalblue;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  outline: 0;
  border: 1px solid #049ff3;
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}

.form textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid #049ff3;
}

.form button {
  align-self: flex-end;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 1%;
  background-color: #0081C9;
  color: #fff;
  cursor: pointer;
  animation: pulse 1.8s infinite;
}
    /* footer Styling */
    .footer{
      margin-top: 10%;
      background-color: #24262b;
        padding: 70px 0;
        color: #ffffff;
        height: 150px;
    }
    .footer-col{
       width: 25%;
       padding: 0 15px;
    }
    .footer-col h4{
     
      font-size: 18px;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
    }
    .footer-col h4::before{
      content: '';
      position: absolute;
      left:0;
      bottom: -10px;
      background-color: #0081C9;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
    }
    .footer-col ul li:not(:last-child){
      margin-bottom: 10px;
    }
    .footer-col ul li a{
      font-size: 16px;
      text-transform: capitalize;
      color: #ffffff;
      text-decoration: none;
      font-weight: 300;
      color: #bbbbbb;
      display: block;
      transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
      color: #ffffff;
      padding-left: 8px;
    }
    .footer-col .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.5s ease;
    }
    .footer-col .social-links a:hover{
      color: #24262b;
      background-color: #ffffff;
    }
    
    /*responsive*/
    @media(max-width: 767px){
      .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    }
    @media(max-width: 574px){
      .footer-col{
        width: 100%;
    }
  }
  .cr-con{
    text-align: center;
    margin-top: 2%;
  }
  .footer-col p{
    margin-top: -3%;
  }
  /* Responsive Design */
  /* Basic styles for the navbar */
/* .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #333; */
  /* color: #fff; */
  
  /* position: relative;  */
/* }  */

.menu {
  display: flex;
  list-style: none;
  /* margin-left:-3% ; */
}

.menu li {
  margin-right: 10px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none;
  /* color: #fff; */
}
.container1{
  display: none;
}

/* Styles for mobile screens */
@media (max-width: 768px) {
  .body{
    height: 100vh;
    width: 100vw;
  }
  .menu {
    display: none; /* Hide the main menu on mobile screens */
  }
  .navbar h3{
    margin-right: 30%;
    
  }
  .container1 {
    display: block;
    text-align:center;
    /* perfect centering */
    right:-80%;
    top:4%;
    position: absolute;
    transform:translate(-50%,-50%);
    width:100%;
    max-width:350px;
    z-index: 1;
    
  }
  .container1 ul {
    list-style: none;
    padding: 0;
    background:#58c0dd;
    max-height: 0;
    transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    visibility: hidden;
    border-radius:3px;
    opacity:0;
    transform:rotate(180deg);
    margin-top:54%;
    margin-right: 30%;
    border-radius: 10%;
  
  }
  
  
  .container1 li a {
    padding:12px 0;
    display: block;
    transition:.25s
  }
  .container1 li a:hover {
    background: #049ff3;
  }
  
  .container1 a {
    color:#fff;
    text-transform:uppercase;
    text-decoration: none;
  }
  .container1 i {
    /* padding:20px; */
    background: rgba(255,255,255,.75);
    border-radius:3px;
    color:#049ff3;
    transition:.25s;
    font-size: 2rem;
    margin-top:49%;
    /* animation: 1.25s bounce infinite; */
  }
  .container1 i:hover {
    cursor:pointer;
    background: rgba(255,255,255,.95);
    animation-play-state: paused;
  }
  .container1 ul.open {
    max-height: 380px;
    visibility: visible;
    opacity:1;
    transform:rotate(0);
  }
  /* animation */
  @keyframes bounce {
    0% {margin-top:0;}
    50% {margin-top:-15px; margin-bottom:15px;}
    100% {margin-top:0;}
  }
  
  /* Credit */
  
  .container1 ~ * {
    color:#fff;
    text-transform:uppercase;
    position: absolute;
    /* bottom:10px; */
    left:50%;
    transform:translateX(-50%);
  }

  .toggle_btn {
    color: #0081C9;
    font-size: 1.5rem;
    margin-right: 0%;
    cursor: pointer;
    display: block; /* Show the hamburger icon for mobile screens */
  }

  .dropdown_menu  i{
    width: 100%;
    height: 200px;
    display: none; /* Initially hide the dropdown menu for mobile screens */
    position: absolute;
    margin-top: 11%;
    /* left: 0; */
    text-align:right;
    background-color: rgb(71, 64, 64, 0.02);
  }

  .dropdown_menu .dropdown_ul {
    display: block;
    position: absolute;
    flex-direction: column; /* Stack the items vertically */
    list-style: none;
    /* margin: 0; */
    padding: 0; /* Remove default padding */
    gap: 10px;
    margin-top: 10%; /* Adjust the margin */
    background-color: transparent;
    /* filter: blur(2px); */
    z-index: 99;
    height:40%;
    width:30%;
    background-color: #24262b;

  }
  .show_dropdown{
    display: block;
  }
  .show_dropdown .dropdown_menu ul {
    display: block; /* Show the dropdown menu when the toggle button is clicked */
  }

  .dropdown_menu li {
    margin-top: 2%; /* Reset the margin */
    /* z-index: 100; */
    color: #fff;
  }
.dropdown_menu .list-items{
  color: #F6F4EB;
  padding: 1%;

}
  /* Show the dropdown menu when the hamburger icon is clicked */
  .show_dropdown .menu {
    display: flex;

  }
  .navbar h3{
    font-size: 1.5em;
    margin-top: 3%;
  }
  .home h2{
  font-size: 3.5rem;
  /* margin-left:-9% ; */
  }
  .home span{
    font-size: 2.8em;
    /* margin-left:-8% ; */
  }
  .second-text{
    margin-left: 1%;
  }
  .home{
    height:650px;
    margin-top:30%;
  }
  a .btn{
    /* font-size: 1.2em; */
  }
  .home img{
    height: 300px;
    /* margin-top: 20%; */
    z-index: 1;
    display: block;
    position: absolute;
    margin-top: 35%;
    margin-left:8%;
  }

  
  #about-container {
    /* display: flex; */
    align-items: flex-start;
    height: auto;
  }
  
  #about-container img {
    height: 150px;
    margin-right: 20px;
    display: none;
  }
  
  #about-container p {
    margin-top: 10%;
    /* flex: 1; */
    text-align: justify;
    padding: 3%;
    /* float: left; */
  }
  /* skill section */
  .skills-section{
    /* margin-right: 0%; */
    /* margin-left:1% ; */
    justify-content: center;
    margin-top:10%;
  }
  #projects-container{
    margin-top: 10%;
  }
.projects-section{
  margin-top: 10%;
}
.projects{
height: auto;
width: auto;
display:block;
margin:10% 2%;
}
.projects img{
  height: 200px;
  width:350px;
 
  margin-left: -2.3%;
  
}
.projects h3{
  margin-top: 1%;
}
.projects p{
  align-items: center;
  margin-left: 20px;
}

}



/* Styles for laptop screens and above */
@media (min-width: 769px) {
  .toggle_btn,
  .dropdown_menu {
    display: none; /* Hide the hamburger icon and dropdown menu on laptop screens */
  }
}
